/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header, footer {
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif; }

main {
  background-color: #ececec;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px; }

.mainProductos h1, .mainProductos h2 {
  padding-top: 15px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: underline;
  font-size: 30px; }

footer .container a svg, footer .container svg {
  width: 50px;
  height: 50px;
  color: black;
  margin-inline: 15px; }

/* estilos generales */
/* estilos de header */
header nav div div div .nav-link {
  color: black;
  font-size: 24px; }

header nav div div div .nav-link:hover {
  text-decoration: underline; }

header nav div a img {
  margin-top: 10px;
  width: 260px;
  height: 110px; }

/* estilos de footer */
footer {
  padding-top: 30px;
  padding-bottom: 25px; }

/* estilos de inicio */
.container-fluid {
  text-align: center;
  display: inline-block; }
  .container-fluid #carouselExampleIndicators {
    display: inline-block;
    width: 60%; }
  .container-fluid div .carousel-inner {
    display: inline-block;
    height: 100%;
    width: 100%; }

/* estilos de historia */
.mainHistoria div div div p {
  color: black;
  text-align: justify; }

.mainHistoria div div div img {
  width: 100%; }

/* estilos de taller */
.mainTaller div div div p {
  text-align: justify;
  margin-left: 5px; }

.mainTaller div div div img {
  width: 100%;
  margin-bottom: 5px; }

/* estilos de productos */
.mainProductos div div div img {
  margin-bottom: 20px;
  transition: 0.7s; }

.mainProductos div div div img:hover {
  scale: 1.2; }
