/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header, footer {
  background-color: lightgray;
  font-family: Arial, Helvetica, sans-serif; }

main {
  background-color: #ececec;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px; }

.mainProductos h1, .mainProductos h2 {
  padding-top: 15px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: underline;
  font-size: 30px; }

footer .container div a svg, footer .container div svg {
  width: 50px;
  height: 50px;
  color: black;
  margin-inline: 15px; }

/* estilos generales */
/* estilos de header */
header nav div div div .nav-link {
  color: black;
  font-size: 24px; }

header nav div div div .nav-link:hover {
  text-decoration: underline; }

header nav div a img {
  margin-top: 10px;
  width: 260px;
  height: 110px; }

/* estilos de footer */
footer {
  padding-top: 30px;
  padding-bottom: 25px; }
  footer .container {
    display: flex;
    justify-content: center; }
    footer .container div {
      margin-inline: 40px; }

@media screen and (max-width: 920px) {
  footer .container div {
    margin-inline: 10px; } }

/* estilos de inicio */
.container-fluid {
  text-align: center;
  display: inline-block; }
  .container-fluid #carouselExampleIndicators {
    display: inline-block;
    width: 60%; }
  .container-fluid div .carousel-inner {
    display: inline-block;
    height: 100%;
    width: 100%; }

/* estilos de historia */
.mainHistoria div div {
  display: flex;
  align-items: center; }
  .mainHistoria div div #parrafo {
    justify-content: end; }
    .mainHistoria div div #parrafo p {
      color: black;
      text-align: justify;
      width: 70%; }
  .mainHistoria div div #img img {
    width: 70%; }

@media screen and (max-width: 920px) {
  .mainHistoria div div {
    display: flex;
    align-items: center; }
    .mainHistoria div div #parrafo {
      justify-content: center; }
      .mainHistoria div div #parrafo p {
        color: black;
        text-align: justify;
        width: 70%; }
    .mainHistoria div div #img {
      justify-content: center; }
      .mainHistoria div div #img img {
        width: 70%; } }

/* estilos de taller */
.mainTaller div div {
  padding: 0; }
  .mainTaller div div #parrafoTaller p {
    text-align: center;
    font-size: 20px; }
  .mainTaller div div div {
    padding: 10px; }
    .mainTaller div div div .fotoTaller {
      width: 100%; }

/* estilos de productos */
.mainProductos div div div img {
  margin-bottom: 20px;
  transition: 0.7s; }

.mainProductos div div div img:hover {
  scale: 1.2; }

/* estilos de contacto */
.mainContacto div div .formulario label {
  color: black;
  text-decoration: underline;
  font-size: 21px; }

.mainContacto div div .formulario button {
  background-color: darkgray;
  border-color: black; }

.mainContacto div div .formulario button:hover {
  background-color: black;
  border-color: black; }

.mainContacto div div .mapa img {
  width: 100%; }

@media screen and (max-width: 920px) {
  .mainContacto div div {
    display: inline-block; }
    .mainContacto div div .formulario {
      display: grid; }
      .mainContacto div div .formulario label {
        color: black;
        text-decoration: underline;
        font-size: 21px; }
      .mainContacto div div .formulario button {
        background-color: darkgray;
        border-color: black; }
      .mainContacto div div .formulario button:hover {
        background-color: black;
        border-color: black; }
    .mainContacto div div .mapa img {
      width: 100%; } }
