/* estilos de historia */

.mainHistoria{
    div{
        div{
            div{
                p{
                    color: black;
                    text-align: justify;
                }
                img{
                    width: 100%;
                }
            }
        }
    }
}