/* estilos de taller */

.mainTaller{
    div{
        div{
            padding: 0;
            #parrafoTaller{
                p{
                    text-align: center;
                    font-size: 20px;
                }
            }
            div{
                padding: 10px;
                .fotoTaller{
                    width: 100%;
                }
            }
        }
    }
}
